@page
@model V___Medicals.Pages.NewRoles.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_DashBoardLayout";
}
<a class="btn btn-primary" asp-page="./Index">Back</a>
<h4 class="text-center Monospace"> Role's Details</h4>
<div>
    <hr />
    <dl class="row my-2 d-flex justify-content-center">
        <div class="card shadow-sm text-center m-2 col-sm-6 col-xs-12 col-md-4 col-lg-2">
            <dt class="col text-info">
                @Html.DisplayNameFor(model => model.Role.Name)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.Role.Name)
            </dd>
            </div>
           
    </dl>
    <hr />
</div>
@*<div>
    <a asp-page="./Edit" asp-route-id="@Model.Role?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
