@page
@model V___Medicals.Pages.Doctors.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_DashBoardLayout";
}

<a class="btn btn-primary" asp-page="./Index">Back</a>
<h4 class="text-center Monospace">Create New Doctor</h4>
<hr />
<div class="row justify-content-center">
    <div class="">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.Title" class="control-label">Title <span class="text-danger">*</span> </label>
                    <select asp-for="InputModel.Title" class="form-control" asp-items="Html.GetEnumSelectList<Title>()"></select>
                    <span asp-validation-for="InputModel.Title" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.FirstName" class="control-label">First Name <span class="text-danger">*</span></label>
                    <input asp-for="InputModel.FirstName" class="form-control" />
                    <span asp-validation-for="InputModel.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.MiddleName" class="control-label">Middle Name</label>
                    <input asp-for="InputModel.MiddleName" class="form-control" />
                    <span asp-validation-for="InputModel.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.LastName" class="control-label"> Last Name <span class="text-danger">*</span></label>
                    <input asp-for="InputModel.LastName" class="form-control" />
                    <span asp-validation-for="InputModel.LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.Gender" class="control-label">Gender <span class="text-danger">*</span></label>
                    <select asp-for="InputModel.Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    <span asp-validation-for="InputModel.Gender" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.SpecialityId" class="control-label">Speciality <span class="text-danger">*</span></label>
                    <select asp-for="InputModel.SpecialityId" class="form-control" asp-items="ViewBag.Specialityid"></select>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.DOB" class="control-label"></label>
                    <input type="date" asp-for="InputModel.DOB" class="form-control" />
                    <span asp-validation-for="InputModel.DOB" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.Email" class="control-label">Email <span class="text-danger">*</span></label>
                    <input asp-for="InputModel.Email" class="form-control" />
                    <span asp-validation-for="InputModel.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.PhoneNumber" class="control-label">Phone No <span class="text-danger">*</span></label>
                    <input placeholder="0000-0000000" asp-for="InputModel.PhoneNumber" class="form-control" />
                    <span asp-validation-for="InputModel.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.AddressLine" class="control-label">Address</label>
                    <input id="pac-input" asp-for="InputModel.AddressLine" class="form-control" />
                    <span asp-validation-for="InputModel.AddressLine" class="text-danger"></span>
                </div>
                @*<div id="infowindow-content">
            <span id="place-name" class="title"></span><br />
            <span id="place-address"></span>
        </div>*@
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.District" class="control-label">State/Province</label>
                    <input id="state" asp-for="InputModel.District" class="form-control" />
                    <span asp-validation-for="InputModel.District" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.City" class="control-label"></label>
                    <input id="locality" asp-for="InputModel.City" class="form-control" />
                    <span asp-validation-for="InputModel.City" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.PostalCode" class="control-label"> Postal Code</label>
                    <input id="postcode" asp-for="InputModel.PostalCode" class="form-control" />
                    <span asp-validation-for="InputModel.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.ProfilePicture" class="control-label"></label>
                    <input asp-for="InputModel.ProfilePicture" accept=".png,.jpeg,.jpg" class="form-control" />
                    <span asp-validation-for="InputModel.ProfilePicture" class="text-danger"></span>
                </div>
                @*<div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <label asp-for="InputModel.ContractType" class="control-label">Contract Type <span class="text-danger">*</span></label>
            <select asp-for="InputModel.ContractType" class="form-control" asp-items="Html.GetEnumSelectList<ContractType>()"></select>
            <span asp-validation-for="InputModel.ContractType" class="text-danger"></span>
        </div>*@
                @*<div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <label asp-for="InputModel.ContractValue" class="control-label">Amount/Percentage<span class="text-danger">*</span></label>
            <input asp-for="InputModel.ContractValue" class="form-control" />
            <span asp-validation-for="InputModel.ContractValue" class="text-danger"></span>
        </div>*@
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.VideoConsultancyCharges" class="control-label">Video Consultancy Charges</label>
                    <input type="number" asp-for="InputModel.VideoConsultancyCharges" class="form-control" />
                    <span asp-validation-for="InputModel.VideoConsultancyCharges" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.VideoConsultancyPercentage" class="control-label">Video Consultancy Percentage</label>
                    <input type="number" asp-for="InputModel.VideoConsultancyPercentage" class="form-control" />
                    <span asp-validation-for="InputModel.VideoConsultancyPercentage" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.PhysicalConsultancyCharges" class="control-label">Physical Consultancy Charges</label>
                    <input type="number" asp-for="InputModel.PhysicalConsultancyCharges" class="form-control" />
                    <span asp-validation-for="InputModel.PhysicalConsultancyCharges" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.PhysicalConsultancyPercentage" class="control-label">Physical Consultancy Percentage</label>
                    <input type="number" asp-for="InputModel.PhysicalConsultancyPercentage" class="form-control" />
                    <span asp-validation-for="InputModel.PhysicalConsultancyPercentage" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.Qualification" class="control-label"></label>
                    <input asp-for="InputModel.Qualification" class="form-control" />
                    <span asp-validation-for="InputModel.Qualification" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.Discription" class="control-label"></label>
                    <textarea asp-for="InputModel.Discription" class="form-control"></textarea>
                    <span asp-validation-for="InputModel.Discription" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="InputModel.Status" class="control-label"></label>
                    <select asp-for="InputModel.Status" class="form-control" asp-items="Html.GetEnumSelectList<DoctorStatusTypes>()"></select>
                    <span asp-validation-for="InputModel.Status" class="text-danger"></span>
                </div>
                @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Doctor.IsDeleted" /> @Html.DisplayNameFor(model => model.Doctor.IsDeleted)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="Doctor.Id" class="control-label"></label>
            <select asp-for="Doctor.Id" class ="form-control" asp-items="ViewBag.Id"></select>
        </div>*@
            </div>
            <hr />
            <div class="form-group text-center my-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-page="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGO7cxITuAgXMtjPaYiHe0_Y56wYP1H78&callback=initMap&libraries=places&v=weekly"
        defer></script>
<script>function initMap() {
    let postalField = document.querySelector("#postcode");
    const input = document.getElementById("pac-input");
        const biasInputElement = document.getElementById("use-location-bias");
        const strictBoundsInputElement = document.getElementById("use-strict-bounds");
        const options = {
            componentRestrictions: { country: "pak" },
            fields: ["address_components", "geometry", "icon", "name"],
            strictBounds: false,
            types: ["establishment"],
        };

        const autocomplete = new google.maps.places.Autocomplete(input, options);


        const infowindow = new google.maps.InfoWindow();
        const infowindowContent = document.getElementById("infowindow-content");

        infowindow.setContent(infowindowContent);


        autocomplete.addListener("place_changed", () => {
            infowindow.close();
            const place = autocomplete.getPlace();
            if (!place.geometry || !place.geometry.location) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
            let address1 = "";
            let postcode = "";
            for (const component of place.address_components) {
                const componentType = component.types[0];
                switch (componentType) {
                    case "street_number": {
                        address1 = `${component.long_name} ${address1}`;
                        break;
                    }
                    case "route": {
                        address1 += component.short_name;
                        break;
                    }
                    case "postal_code": {
                        postcode = `${component.long_name}${postcode}`;
                        break;
                    }
                    case "postal_code_suffix": {
                        postcode = `${postcode}-${component.long_name}`;
                        break;
                    }
                    case "locality":
                        document.querySelector("#locality").value = component.long_name;
                        break;
                    case "administrative_area_level_1": {
                        document.querySelector("#state").value = component.short_name;
                        break;
                    }
                    //case "country":
                    //  document.querySelector("#country").value = component.long_name;
                    //  break;
                }
            }
            postalField.value = postcode;
        });
}
    window.initMap = initMap;
    </script>
