@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to V-Medicals</h1>
    <p>Landing page coming soon!</p>
    <div style="height: 400px;"></div>
</div>
