@page
@model V___Medicals.Pages.Appointments.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_DashBoardLayout";
}
<a class="btn btn-primary" asp-page="./Index">Back</a>
<h4 class="text-center Monospace">Edit Appointment</h4>
<hr />
<div class="row my-3 justify-content-center">
    <div class="">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.AppointmentId" />
            <input type="hidden" asp-for="Appointment.Doctor" value="@Model.doctor"/>
            <input type="hidden" asp-for="Appointment.Patient" value="@Model.patient" />
            <div class="row">
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="Appointment.PatientId" class="control-label">Patient</label>
                    <select asp-for="Appointment.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                    <span asp-validation-for="Appointment.PatientId" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="Appointment.SpecialityName" class="control-label"></label>
                    <input asp-for="Appointment.SpecialityName" class="form-control" />
                    <span asp-validation-for="Appointment.SpecialityName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="Appointment.DoctorId" class="control-label">Doctor</label>
                    <select asp-for="Appointment.DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                    <span asp-validation-for="Appointment.DoctorId" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="Appointment.ClinicDate" class="control-label"></label>
                    <input asp-for="Appointment.ClinicDate" class="form-control" />
                    <span asp-validation-for="Appointment.ClinicDate" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="Appointment.Time" class="control-label"></label>
                    <input asp-for="Appointment.Time" class="form-control" />
                    <span asp-validation-for="Appointment.Time" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                <label asp-for="Appointment.CreatedDate" class="control-label"></label>
                <input asp-for="Appointment.CreatedDate" class="form-control" />
                <span asp-validation-for="Appointment.CreatedDate" class="text-danger"></span>
            </div>*@
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="Appointment.Description" class="control-label"></label>
                    <input asp-for="Appointment.Description" class="form-control" />
                    <span asp-validation-for="Appointment.Description" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="Appointment.AppointmentType" class="control-label"></label>
                    <select asp-for="Appointment.AppointmentType" class="form-control" asp-items="Html.GetEnumSelectList<ClinicTypes>()"></select>
                    <span asp-validation-for="Appointment.AppointmentType" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <label asp-for="Appointment.Status" class="control-label"></label>
                    <select asp-for="Appointment.Status" class="form-control" asp-items="Html.GetEnumSelectList<AppointmentStatus>()"></select>
                    <span asp-validation-for="Appointment.Status" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                <label asp-for="Appointment.UpdatedOn" class="control-label"></label>
                <input asp-for="Appointment.UpdatedOn" class="form-control" />
                <span asp-validation-for="Appointment.UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.LastModifiedBy" class="control-label"></label>
                <input asp-for="Appointment.LastModifiedBy" class="form-control" />
                <span asp-validation-for="Appointment.LastModifiedBy" class="text-danger"></span>
            </div>*@
                </div>
            <hr />
                <div class="form-group text-center my-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-page="./Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
