@page
@model V___Medicals.Pages.Appointments.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_DashBoardLayout";
}


<h4>Edit Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.AppointmentId" />
            <div class="form-group">
                <label asp-for="Appointment.PatientId" class="control-label">Patient</label>
                <select asp-for="Appointment.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="Appointment.PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DoctorId" class="control-label">Doctor</label>
                <select asp-for="Appointment.DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                <span asp-validation-for="Appointment.DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.ClinicDate" class="control-label"></label>
                <input asp-for="Appointment.ClinicDate" class="form-control" />
                <span asp-validation-for="Appointment.ClinicDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Time" class="control-label"></label>
                <input asp-for="Appointment.Time" class="form-control" />
                <span asp-validation-for="Appointment.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.CreatedDate" class="control-label"></label>
                <input asp-for="Appointment.CreatedDate" class="form-control" />
                <span asp-validation-for="Appointment.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Description" class="control-label"></label>
                <input asp-for="Appointment.Description" class="form-control" />
                <span asp-validation-for="Appointment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentType" class="control-label"></label>
                <select asp-for="Appointment.AppointmentType" class="form-control" asp-items="Html.GetEnumSelectList<ClinicTypes>()"></select>
                <span asp-validation-for="Appointment.AppointmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Status" class="control-label"></label>
                <select asp-for="Appointment.Status" class="form-control" asp-items="Html.GetEnumSelectList<AppointmentStatus>()"></select>
                <span asp-validation-for="Appointment.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.UpdatedOn" class="control-label"></label>
                <input asp-for="Appointment.UpdatedOn" class="form-control" />
                <span asp-validation-for="Appointment.UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.LastModifiedBy" class="control-label"></label>
                <input asp-for="Appointment.LastModifiedBy" class="form-control" />
                <span asp-validation-for="Appointment.LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
